.cardpicker{
    width:100%;
}
.cardList{
    width: 85%;
    margin: auto;
    height: 200px;
    min-height: 200px;
    border-radius: 20px;
    background: #ececec;

    padding: 20px;

}

.placeholder{
    display: table-cell;
    width: 100%;
    height: 150px;
    vertical-align: middle;
}

.cardListing{
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: .9;

    z-index: 100;
}