h2{
    margin-bottom: 20px;
}

.mainTab{
    text-align: center;
}

.codeDisplayer{
    height: 40px;
}

.codeDisplayer.code{
    font-size: 30px;
    letter-spacing: 20px;
}

.codeInserter{
    margin: auto;
    margin-bottom: 15px;
    display: inline-block;
}

.codeMessage{
    margin-bottom: 15px;
}
.wrongCode{
    color: #d01B1b;
    margin-bottom: 5px;
}
.correctCode{
    color: #2db563;
}