.mainPageImage{
    width: 100%;
    max-width: 600px;
}

h2{
    margin-bottom: 80px;
}

input[type=button].homeButton{
    font-size: 20px;
    font-weight: bolder;
}

a{
    display: block;
    width: 85%;
    margin: 15px auto;
    text-align: center;
    font-size: 14px;
}

.separator{
    width: 15%;
    border-bottom: 1px solid #ececec;
    margin: 20px  auto;
}