.pageInGame .row{
    text-align: center;
    vertical-align: center;
    width:100%;
    padding: 5px;
}

.pageInGame .row .spot{
    text-transform: uppercase;
    color: #2db563;
    text-align: center;
    display: inline-block;
    font-size: 35px;
    transform: translateY(3px);
    margin: 0 20px;
    font-family: Benton-bold;
}
.pageInGame .row .cell{
    display: inline-block;
}

.pageInGame .mixedcriteria{
    margin: 40px 0;
}
.pageInGame .actions{
    margin: 70px 0;
}
