.shareButton a{
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #ececec;
    border-radius: 17px;
    text-align: center;
    font-size:20px;
    text-decoration: none;
}
